<launch>
  <arg name="odom_topic" default="/rmua/control/official/eskf_odom" />
  <arg name="initial_pose_topic" default="/rmua/sensors/drone_1/initial_pose" />
  <arg name="pose_setpoint_topic" default="/rmua/control/basic/pose_setpoint" />
  <arg name="enable_topic" default="/rmua/control/basic/enable" />
  <arg name="pwm_command_topic" default="/airsim_node/drone_1/rotor_pwm_cmd" />
  <arg name="warmup_samples" default="100" />

  <node pkg="rmua_flight_control" type="official_pwm_controller_node" name="official_pwm_controller" output="screen" respawn="true" respawn_delay="2.0">
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="initial_pose_topic" value="$(arg initial_pose_topic)" />
    <param name="pose_setpoint_topic" value="$(arg pose_setpoint_topic)" />
    <param name="enable_topic" value="$(arg enable_topic)" />
    <param name="pwm_command_topic" value="$(arg pwm_command_topic)" />
    <param name="warmup_samples" value="$(arg warmup_samples)" />
    <param name="publish_zero_when_inactive" value="true" />
    <param name="allow_first_odom_as_home" value="true" />
  </node>
</launch>